/* Intro sectio */
#intro, .holding-relative-box {
  background-image: url(https://images.unsplash.com/photo-1540317700647-ec69694d70d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
}

/* second section */
h2 {
  margin: 20px;
}
#secondsection {
  background-color: teal;
  padding: 10% 20%;
}

/* middle section */
#middle {
  text-align: center;
  background-color: #fff;
}

/* Images */
.Like-image {
  width: 100%;
}

.paragraph{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.mount{
  width: 50%;
  float: left;

}

/* footer section */

#footer, .bottom-section {
  background-color: #fff;
  color: gray;
  text-align: center;
}

.social-icon {
  padding: 2% 2% 2% 2%;
}

.Copyright {
  padding: 3% 3% 3% 3%;
}
